/* ===============GLOBAL========== */

:root {
    --dark-color: #141415;
    --light-color: #957354;
    --brown-skin-color: #7f432c;
    --background-color: #000000;
    --nav-height: 6rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li,
a {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    background: linear-gradient(to right, #0cbaba, #380036);

}

.container-wrapper {


    padding: 0 1rem;
    width: 100vw;



}

/* ====================END GLOBAL================= */


.header {

    /* HEADER */
    position: sticky;
    width: 100%;
    height: var(--nav-height);
}

.whole-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* WHOLE NAVIGATION CONTENTS */
    height: 100%;
    padding: 0 1rem;


}

.logo {
    width: 20rem;
    z-index: 2;
    /* LOGO */
}

.logo img {
    width: 100%;
    /* LOGO IMAGE */
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 50px;
    flex-basis: 60rem;
    justify-content: flex-end;
    order: 2;
    /* NAVIGATION MENU */


}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* NAVIGATION MENU LIST */
    gap: 3rem;


}


.nav-social-links {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    /* NAVIGATION SOCIAL LINKS */
    gap: 5px;
    font-weight: 100;

}

.nav-social-link {
    color: white;
}

.nav-toggle-btn,
.nav-colse-btn {
    display: none;
    /* TOGGLE BUTTON */
}


.nav-colse-btn {
    color: white;
    /* CLOSE TOGGLE BUTTON */
    position: absolute;
    top: 1.8rem;
    right: 1rem;
    z-index: 6;

}

.nav-item a {
    font-size: 1rem;
    /* NAVIGATION MENU LISTS ITEM */
    color: white;


}



/* ===========ANIMATION HOVER STATE========= */


/* -------------RESPONSIVE STATE-------------- */


@media only screen and (max-width: 1150px) {


    /* ===========ANIMATION HOVER STATE========= */

}

/* Default: Extra-small devices such as small phones (less than 640px) */

/* Small devices such as large phones (640px and up) */



/* Medium devices such as tablets (768px and up) */
@media only screen and (max-width: 768px) {
    .show-case-section {}
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (max-width: 1024px) {
    .whole-nav {
        padding: 1rem;
        gap: 1rem;
    }



    .nav-toggle-btn,
    .nav-colse-btn {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
    }

    .nav-menu {
        align-items: baseline;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        background: linear-gradient(to left, #0cbaba, #380036);
        display: none;
        padding: 11rem 4rem;
        /* z-index: 5; */


    }

    .nav-list {
        flex-direction: column;
        gap: 3rem;
        align-items: baseline;
    }

    .show-menu {
        display: flex;
        /*SHOW/HIDE MENU */

    }


}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 1280px) {}

/* ===============================END RESPONSIVE STATE================= */
/* ================================START MAIN LANDING SECTION================= */

.show-case-section {
    height: calc(100vh - var(--nav-height));
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;

}

.main-img img {
    width: 26rem;

}

.left-side-content {}

@media only screen and (max-width: 640px) {
    .main-img img {
        width: 20rem;
    }

    .left-side-content {
        order: 1;
    }

    .show-case-section {
        flex-direction: column;

    }
}


/* ======ANIMATED TEXT======= */
.animated-text {
    text-align: center;
    background: linear-gradient(to right,
            var(--light-color) 20%,
            var(--brown-skin-color) 30%,
            var(--dark-color) 70%,
            #ffffff 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color: transparent; */
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    font-size: 5rem;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/* =======END ANIMATED TEXT======= */





/* ====================================END MAIN LANDING SECTION================= */