* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
}
.container {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: aqua;
    width: 30%;
    padding: 40px 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(159, 159, 159, 0.344);
}
#button-start {
    margin-top: 10px;
    width: 90px;
    padding: 10px 30px ;
    border: none;
    border-radius: 19px;
}
#button-stop {
    margin-top: 10px;
    width: 90px;
    padding: 10px 30px ;
    border: none;
    border-radius: 19px;
}
#button-reset {
    margin-top: 10px;
    width: 90px;
    padding: 10px 30px ;
    border: none;
    border-radius: 19px;
}
button:hover{
    transform: scale(1.1);
}